@font-face {
    font-family:
    src: <link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
}

body {
    background-image: url(../mikeskull.jpg);
    background-position: center;
    background-size: 90%;
    border: solid red 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

main {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background: url(../mikeskull.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 75%;
}

li {
    color: crimson;
    text-shadow: black 2px 1px;
    display: flex;
    flex-direction: row;
    font-size: 30px;
    font-family: Special-Elite;
    margin: 10px 40px
}

a {
    color: crimson  ;
}

ul {
    color: crimson;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#content-field {
    color: whitesmoke;
    font-family: 'Special Elite';
    font-size: 100px;
    height: 100%;
    text-shadow: black 4px 4px;
    margin: 3px 20px;
}

#content-field2 {
    height: 440px;
}

#music-player {
    display: flex;
    align-items: baseline;
    margin: 20px;
}
